<div class="course">

  <button mat-icon-button>
    <mat-icon (click)="changeForBabyFlag()" [svgIcon]="course.forBaby ? 'child' : 'person'"></mat-icon>
  </button>

  <mat-form-field class="input">
    <input matInput placeholder="Еда" [formControl]="nameControl" [matAutocomplete]="auto"
           (blur)="onBlur()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button>
    <mat-icon (click)="remove.emit(index)" svgIcon="close"></mat-icon>
  </button>
</div>
