<mat-tab-group [selectedIndex]="1">
  <mat-tab label="Предыдущая">
    <app-week [week]="menu.previous || getDefaultWeek()" (update)="updateWeek($event, 'previous')"></app-week>
  </mat-tab>
  <mat-tab label="Текущая">
    <app-week [week]="menu.current || getDefaultWeek()" (update)="updateWeek($event, 'current')"></app-week>
  </mat-tab>
  <mat-tab label="Следующая">
    <app-week [week]="menu.next || getDefaultWeek()" (update)="updateWeek($event, 'next')"></app-week>
  </mat-tab>
</mat-tab-group>
